:root{
    --bg-color: #282e39;
    --component: #2f3542;
    --subText: #85888f;
    --text: white;
    --title-font: 42px;
    --bg-font: 32px;
    --mi-font: 18px;
    --sm-font: 14px;
}

.header{
    width: 100%;
    height: 10%;
    padding: var(--mi-font);
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container h1:hover{
    cursor: pointer;
}

.login{
    padding: var(--mi-font);
    font-size: var(--mi-font);
    cursor: pointer;
}